@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
}

.app-primary-color{
    color: #79589F;
}

nav, .app-primary-bg-color{
    background-color: #79589F;
}

.card-body{
    padding: 0 !important;
}

.border-bottom-1 {
    border-bottom : 1px solid lightgray;
}

.card-subtitle {
    margin-top: 1rem;
}


.navbar-nav .nav-link, .navbar-toggler {
    color: white;
    border-color: white;
}